<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="UTF-8" /> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <script src="static/app.js" defer></script>
    <title>About</title>
  </head>
  <body>
    <header>
      <a href="#navigation">
        <img src="static/images/icons8-menu.svg" alt="Hamburger menu button" />
      </a>
      <div>
        <img src="static/images/icon.png" alt="" />
        <h1>Internetica Galactica 2</h1>
        <p>Surviving the rewriting</p>
        <nav id="navigation">
          <a href="#">&times;</a>
          <a href="/">Home</a>
          <a href="#" aria-current="page">About</a>
          <a href="/galaxies">Galaxies</a>
          <div>
            <h5>Which hand do you prefer?</h5>
            <label>
              Left
              <input type="radio" name="preferred_hand" value="left" />
            </label>
            <br>
            <label>
              Right
              <input type="radio" name="preferred_hand" value="right" />
            </label>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <!-- Skills block -->
      <article data-type="block">
        <header>
          <h2>Profile</h2>
        </header>
        <div>
          <p><strong>Name:</strong> DutchEllie</p>
          <p><strong>Country:</strong> The Netherlands 🇳🇱🇪🇺</p>
          <p><strong>Occupation:</strong> Student</p>
          <p><strong>Languages:</strong></p>
          <table>
            <tr>
              <td>🌍</td>
            </tr>
            <tr>
              <td>Dutch</td>
              <td>⭐⭐⭐⭐⭐</td>
            </tr>
            <tr>
              <td>English</td>
              <td>⭐⭐⭐⭐⭐</td>
            </tr>
            <tr>
              <td>Japanese</td>
              <td>⭐⭐</td>
            </tr>
            <tr>
              <td>💻</td>
            </tr>
            <tr>
              <td>Go</td>
              <td>⭐⭐⭐⭐</td>
            </tr>
            <tr>
              <td>C++</td>
              <td>⭐⭐⭐</td>
            </tr>
            <tr>
              <td>Javascript</td>
              <td>⭐⭐⭐</td>
            </tr>
          </table>
        </div>
      </article>
      <article>
        <p>
          Hi, I am Quenten (aka, DutchEllie). I am the creator of this website.
          Thanks for checking it out! I made this website partly to have some
          project to express myself with and to learn some new skills.
        </p>
        <br />
        <p>
          I am a 22 year old person from The Netherlands. I am still a student
          and I am aspiring to be a Cloud Engineer.
        </p>
        <br />
        <p>
          My favorite programming language is Go. It's just so nice.
          Unfortunately, browsers don't run Go code (or well, they can with
          WebAssembly) and that's why I had to make this website in JavaScript.
          I had done this in Go, but it was just too clunky. The results of that
          can be seen in the Gitea repository
          <a href="https://dutchellie.nl/DutchEllie/proper-website-2"
            >DutchEllie/proper-website-2</a
          >.
        </p>
        <br />
        <p>
          You can contact me if you want at
          <a href="mailto:contact@quenten.nl">contact@quenten.nl</a>.
        </p>
        <br />
        <p>As for other things I like, here is a list!</p>
      </article>
      <article data-type="block">
        <h2>Music</h2>
        <ul>
          <li>Hatsune Miku</li>
          <li>PinocchioP</li>
          <li>Mothy/Akuno-p</li>
        </ul>
        <h2>TV</h2>
        <ul>
          <li>Game of Thrones</li>
          <li>Avatar: The Last Airbender</li>
        </ul>
        <h2>VTubers</h2>
        <ul>
          <li>Momosuzu Nene</li>
          <li>Amane Kanata</li>
          <li>Petra Gurin</li>
          <li>Ninomae Ina'nis</li>
          <li>Kson</li>
        </ul>
        <h2>Food</h2>
        <ul>
          <li>Spaghetti</li>
          <li>Ramen</li>
        </ul>
      </article>
    </main>
  </body>
</html>
